<div class="home">
  <div class="home--quest" *ngIf="!userService.user">
    <h3>This is our super duper secure app :)</h3>
    <p>Please <span routerLink="signup">Sign up</span> or
      <span routerLink="login">login</span> to enjoy full functionality</p>
  </div>
  <!--if user logged and no tasks-->
  <div class="home--quest" *ngIf="userService.user">
    <h3>Seems like you don't have any tasks!</h3>
    <p>Don't be shy and <span>create one</span>!</p>
  </div>
</div>
<!--<button mat-button class="mat-raised-button mat-primary" (click)="logout()">Logout</button>-->
