<div class="example-container">
  <mat-card>
    <h2>Type in your email</h2>
    <form [formGroup]="retypeEmailFrom" (ngSubmit)="RetypeEmail()" novalidate>
      <div class="form-group">
        <mat-form-field>
          <input matInput type="email" class="form-control" required formControlName="email" placeholder="Email">
        </mat-form-field>
      </div>
      <div class="form-group">
        <button mat-raised-button color="primary" type="submit">Submit!</button>
      </div>
    </form>
  </mat-card>
</div>
